@font-face {
  font-family: Lato;
  src: url(Lato-Regular.ttf);
}

body {
  background-color: #858482;
  color: white;
  font-family: Lato;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

h1 {
  text-align: center;
}


.container {
  position: relative;
  padding: 0rem;
}

.header {
    padding-top: 10px;
    text-align: center;
    
    color: white;
    letter-spacing: 0.1em;
    border-bottom: 5px solid white;

}

.footer {
  margin-top: 30px;
  padding: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  background: #cbcbcb;
  color: #6D7993;
}

.graph-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


.wrapper-graphs {
  width: 100%;
  order: 2;
  padding-left: 2rem;
}

.graphs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.graph {
  width: 48%;
  margin-right: 1%;
  margin-bottom: 1%;
}

.dropdown-titles {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-title {
  width: 32%;
  margin-right: 1%;
  align-items: center;
  justify-content: center;
}

.dropdown-menues {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
}

.dropdown-menu {
  width: 32%;
  margin-right: 1%;
  align-items: center;
  justify-content: center;
}

#continent, #data-range {
  max-width: 200px;
}

.dropdown {
  color: #3F3F3f;
}





/* MEDIUM AND BELOW */
@media screen and (max-width: 992px) {
  .graph-container {
    display: flex;
    flex-wrap: wrap;
  }



  .wrapper-graphs {
    width: 100%;
    padding-left: 0;
    order: 1;
  }
}

/* SMALL AND BELOW */
@media screen and (max-width: 768px) {
  .graph {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1%;
  }
}

    © 2021 GitHub, Inc.
    Terms
    Privacy
    Security
    Status
    Docs

    Contact GitHub
    Pricing
    API
    Training
    Blog
    About

Loading complete
